/* MAIN DE CONTACTO */

.contacto{
    form{
        fieldset{
            .name{
                @extend %form;
            }
            .mail{
                @extend %form;
            }
            .tel{
                @extend %form;
            }
            .pais{
                @extend %form;
            }
            .city{
                display: inline-block;
            }
            .consulta{
                margin: 2%;
                .consult{
                    width: 95%;
                    height: 100px;
                }
            }
        }
    }
    .prom{
        width: 100%;
        .promImg{
            max-width: 100%;
            height: auto;
        }
    }
}