/* FOOTER */

.foot{
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 0.5fr 0.2fr;
    grid-template-columns: 2fr 0.2fr;
    grid-template-areas:"div1 div1"
                        "div div"
                        "div2 div2"
                        "div4 social";
    .entrega{
        background-color: rgb(219, 219, 219);
        margin: 1%;
        border: solid;
        grid-area: div1;
        width: 99%;
        h3{
            @extend %h3;
            font-family: $font1;
        }
    }
    .pagos{
        margin: 0% 10% 0% 10%;
        grid-area: div;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            @extend %h3;
            font-family: $font1;
        }
        .card{
            height: 50px;
        }
    }
    .direccion{
        margin: 0% 1% 0% 1%;
        grid-area: div2;
        text-align: end;
        h3{
            @extend %h3;
            font-family: $font1;
        }
        .phoneMail{
            font-family: $font2;
        }
    }
    .wsp{
        a{
            button{
                background-color: white;
                border: 0px;
                outline: none;
            }
        }
        grid-area: div3;
        display: none;
    }
    .rights{
        background-image: url(../img/bgImgTres.jpg);
        grid-area: div4;
        section{
            color: white;
        }
        address{
            color: white;
        }
    }
    .socialMedia{
        background-color: black;
        grid-area: social;
        a{
            img{
                margin: 10px 0px 10px 0px;
                width: 40px;
                background-position: end;
            }
            button{
                background: none;
                border: 0px;
                outline: none;
            }
        }
    }
}