/* HEADER */

header{
    background-image: url(../img/bgImgTres.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
                         "logo search"
                         "logo menu";
    align-items: center;
    .logo{
        padding: 0;
        grid-area: logo;
        .logoPic{
            width: 200%;
        }
    }
    .title{
        display: grid;
        place-content: center;
        text-shadow: 0 0 25px black;
        color: #F7D716;
        grid-area: title;
        font-size: 450%;
        font-family: $font5;
    }
    .menu{
        width: 100%;
        list-style-type: none;
        padding: 5px;
        grid-area: menu;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li{
                text-shadow: 0 0 10px black;
                font-size: 20px;
                list-style-type: none;
                margin: 3px;
                color: rgb(253, 19, 3);
                font-family: $font0;
                a{
                    text-shadow: 0 0 10px black;
                    color: rgb(231, 72, 13);
                    text-decoration: none;
                    color: thistle;
                    font-family: $font1;
                }
                a:hover{
                    color: white;
                }
            }
        }
    }
    div{
        .search{
            color: white;
            font-family: $font3;
            background-color: #F24C4C;
            border: 2px solid orange;
        }
        .search:hover{
            background-color: brown;
            border: 2px solid white;
        }
    }
}