/* MAIN DE LOGIN */

main{
    .fLogin{
        div{
            margin: 30px;
        }
        background-image: url(../img/bgImgCuatro.jpg);
        background-size: cover;
        margin: 10px 10%;
        padding: 50px;
        text-align: center;
        text-justify: center;
        border-radius: 50px;
        color: orangered;
        font-family: 'Anton', sans-serif;
        text-shadow: 0 0 15px black;
        font-size: medium;
        .userPass{
            @include mesures (100%, 30px);
        }
        input{      background-color: black;
                    color: white;
                    font-size: large;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: large;
                    font-family: $font1;
        }
    }
    .prom{
        width: 100%;
        .promImg{
            max-width: 100%;
            height: auto;
        }
    }
}